* {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f6f6f6;
}

.courses {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.course {

  background-color: white;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 3px;
  padding: 40px;
}

.image {
  text-align: center;
}

p {
  text-align: center;
}

.buttons {
  height: 150px;
  display: flex;
  flex-flow: column wrap;  
  align-items: center;
  justify-content: space-evenly;
}

button {
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  color: teal;
  width: fit-content;
  padding: 10px 15px;
  font-weight: 500;
  border: 3px solid teal;
  transition: 0.3s ease-in-out;
}

button:hover {
  border: 3px solid lightblue;
}

.view-details{
  height: 100vh;
  display: flex;
  
}

.ins-img{
  width: 40%;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
}
.ins-img img{
  width: 350px;
  height: 350px;
}

.right{
  width: 60%;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}

.right .about{
  width: 100%;
  height: 30%;
  
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: bold;
}

.right .paragraph{
  width: 100%;
  height: 40%;
  
}