* {
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

body {
  margin: 0;
  padding: 0;
  height: 90vh;
  background-color: white;
}

h1 {
  text-align: center;
}

.courses {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.course {
  background-color: white;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
  border-radius: 3px;
  padding: 40px;
  transition: 0.3s ease-in-out;
}

.course:hover {
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.courseImage, p {
  text-align: center;
  font-weight: 500;
}

.buttons {
  height: 100px;
  display: flex;
  flex-flow: column wrap;  
  align-items: center;
  justify-content: space-between;
}

button {
  text-align: center;
  cursor: pointer;
  outline: none;
  border: none;
  color: teal;
  width: fit-content;
  padding: 10px 15px;
  font-weight: bold;
  border: 3px solid teal;
  transition: 0.3s ease-in-out;
  letter-spacing: 2px;
}

button:hover {
  border: 3px solid black;
  color: black;
}

.popup-box {
  position: fixed;
  background: #00000050;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
 
.box {
  position: relative;
  width: 70%;
  height: auto;
  max-height: 75vh;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #eeeeee;
  overflow: auto;
  padding: 4%;
}
 
.close-icon {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  background: #ededed;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #eeeeee;
  font-weight: bold;
  font-size: 20px;
}

.view-details-image {
  text-align: center;
}

.view-details-image img {
  width: 80%;
}

.right {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}

.right .about {
  text-align: center;
  letter-spacing: 2px;
  font-size: 2rem;
  font-weight: bold;
}

.right .paragraph {
  text-align: justify;
  line-height: 1.6;
}

span {
  margin-right: 10px;
  margin-top: 40px;
}

.checked {
  color: orange;
}

.flex-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 10%;
}

.flex-container img {
  width: 80%;
}

form {  
  height: fit-content;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}

.name, .contact, .schedule, .time, .email, .enquiry, .submit{
  padding: 10px 20px;
  font-size: 1.2em;
  width: 100%;
  border: 3px solid #eeeeee;
}

.name, .contact, .schedule, .time, .email, .enquiry{
  margin-bottom: 30px;
}

.schedule, .time {
  color: grey;
  background-color: white;
}

.submit {
  border: 3px solid teal;
}

@media screen and (min-width: 800px) {

  .view-details-image img {
    width: 100%;
  }

  .right {
    width: 100%;
  }

  .flex-container {
    height: 100vh;
    flex-flow: row wrap;
    padding: 2% 2% 2% 0%;
  }

  .flex-container img {
    width: 40%;
  }

}

@media screen and (min-width: 1000px) {

  .box {
    width: 90%;
    padding: 1% 2% 2% 1%;
  }

  .view-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}
